PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE `PosVendas` (`id` INTEGER PRIMARY KEY AUTOINCREMENT, `nomeCliente` VARCHAR(255) NOT NULL, `frotaModelo` VARCHAR(255) NOT NULL, `numeroChassi` VARCHAR(255) NOT NULL, `outrosDados` TEXT, `createdAt` DATETIME NOT NULL, `updatedAt` DATETIME NOT NULL);
INSERT INTO PosVendas VALUES(1,'Ambev Gama-DF','Modelo XYZ','1234567890','Observa├º├Áes adicionais','2025-01-29 14:38:03.516 +00:00','2025-01-29 14:38:03.516 +00:00');
CREATE TABLE `ClientesFRTs` (`id` INTEGER PRIMARY KEY AUTOINCREMENT, `nomeCliente` VARCHAR(255) NOT NULL, `frotaModelo` VARCHAR(255) NOT NULL, `numeroChassi` VARCHAR(255) NOT NULL, `outrosDados` TEXT, `createdAt` DATETIME NOT NULL, `updatedAt` DATETIME NOT NULL);
INSERT INTO ClientesFRTs VALUES(1,'Serra Bonita Buritis-MG','FRT 831 Modelo 32-8FG25','76028','Observa├º├Áes frota pr├│pria','2025-01-29 14:38:03.534 +00:00','2025-01-29 14:38:03.534 +00:00');
CREATE TABLE `Agendamentos` (`id` INTEGER PRIMARY KEY AUTOINCREMENT, `clienteId` INTEGER NOT NULL REFERENCES `PosVendas` (`id`) ON DELETE CASCADE ON UPDATE CASCADE, `dataHora` DATETIME NOT NULL, `tecnico` VARCHAR(255) NOT NULL, `tipoServico` VARCHAR(255) NOT NULL, `observacoes` TEXT, `frotaModelo` VARCHAR(255) NOT NULL, `numeroChassi` VARCHAR(255) NOT NULL, `pecasUsadas` TEXT, `createdAt` DATETIME NOT NULL, `updatedAt` DATETIME NOT NULL);
INSERT INTO Agendamentos VALUES(1,1,'2025-01-29 14:38:03.546 +00:00','T├®cnico 1','Manuten├º├úo','Nenhuma observa├º├úo','Modelo XYZ','1234567890','Pe├ºa 1, Pe├ºa 2','2025-01-29 14:38:03.547 +00:00','2025-01-29 14:38:03.547 +00:00');
INSERT INTO sqlite_sequence VALUES('PosVendas',1);
INSERT INTO sqlite_sequence VALUES('ClientesFRTs',1);
INSERT INTO sqlite_sequence VALUES('Agendamentos',1);
COMMIT;
